@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Raleway",serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.main{

}

.blog h2{
    text-align: center;
}

.blog hr{
    width: 5vw;
    display: block;
    margin: auto;
    margin-top: 7px;
    color: rgba(255, 127, 110, 0.5);
}

.blogImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1px;
    background: hsla(12,40%, 60%,0.6);
}

.blogItems{
    display: flex;
    margin: 0px 0px 80px 0px;
    padding: 40px;
    justify-content: center;
    text-align: center;
}


.item{
    width: 26%;
    height: 50%;
    display: block;
    padding: 16px;
    margin: 10px;
    box-sizing: border-box;
    line-height: 25px;
}

.item a{
    color: grey;
    font-weight: 600;
    text-decoration: none;
}

.returnsvg{
    width: 30px;
}

.psimg{
    object-fit: contain;
    width: 30px;
    border: 20px solid red;
}

.policy{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 10%;
    justify-content: center;
    background: rgba(255, 127, 110, 0.5);
}

.ps{
    margin: 10px;
    padding: 10px;
}

.newsletter{
        margin: 50px;
        display: flex;
        padding: 30px;
        text-align: center;
        justify-content: center;
        height: 10%;
        line-height: 31px;
}

.newsLP{
    margin: 0;
    padding: 0;
}

#subscribe{
    width: 365px;
    height: 35px;
}

#subButton{
        width: 81px;
        height: 41px;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
}

div li{
    text-transform: capitalize;
    list-style: none;
    margin: 10px;
}

.container-foot{
    display: flex;
    padding: 40px;
    justify-content: center;
    background-color: black;
}

.common-foot {
    display: flex;
    /* margin: 20px; */
    padding: 10px;
    text-align: start;
    justify-content: center;
    flex-direction: column;
   
}

.common-foot ul{
    text-align: start;
    padding: 0;
}

.fourth{
    margin-top: -14px;
}


.copyright{
    text-align: center;
}

.lh{
    line-height: 23px;
    margin-bottom: 10px;
}

.logo{
    background-color: #ffb3b6;
    width: 12%;
    margin: 10px;
}